<!DOCTYPE html>
<html>
<head>
    <title>Coming Soon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/Joolba.svg" type="image/svg+xml">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .container {
            text-align: center;
        }
        .logo {
            width: 200px; /* Adjust the width as per your logo dimensions */
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }
        
        p.success-error {
            font-size: 18px;
            color: red;
            font-weight: bold;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img class="logo" src="images/Joolba.svg" alt="Joolba Logo">
        <h1>Coming Soon</h1>
        <p class="success-error"><%= error %></p>
    </div>
</body>
</html>

