<!DOCTYPE html>
<html>
<head>
    <title>Coming Soon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/Joolba.svg" type="image/svg+xml">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: "Open Sans", sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .container {
            text-align: center;
        }
        .logo {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
  
        h1 {
            font-family: 'Poppins';
            /* color: #333;
            margin-bottom: 20px; */
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
            position: relative;
        }
        p.success-message {
            font-size: 18px;
            color: #55c57a;
            font-weight: bold;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img class="logo" src="images/Joolba.svg" alt="Joolba Logo">
        <h1>Coming Soon</h1>
        <p class="success-message"><%= message %></p>
    </div>
</body>
</html>
